
@font-face {
    font-family: 'poppinsmedium_italic';
    src: url('../fonts/poppins-mediumitalic-webfont.eot');
    src: url('../fonts/poppins-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/poppins-mediumitalic-webfont.woff') format('woff'),
         url('../fonts/poppins-mediumitalic-webfont.ttf') format('truetype'),
         url('../fonts/poppins-mediumitalic-webfont.svg#poppinsmedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinsregular';
    src: url('../fonts/poppins-regular-webfont.eot');
    src: url('../fonts/poppins-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('../fonts/poppins-regular-webfont.woff') format('woff'),
         url('../fonts/poppins-regular-webfont.ttf') format('truetype'),
         url('../fonts/poppins-regular-webfont.svg#poppinsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinssemibold';
    src: url('../fonts/poppins-semibold-webfont.eot');
    src: url('../fonts/poppins-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins-semibold-webfont.woff2') format('woff2'),
         url('../fonts/poppins-semibold-webfont.woff') format('woff'),
         url('../fonts/poppins-semibold-webfont.ttf') format('truetype'),
         url('../fonts/poppins-semibold-webfont.svg#poppinssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinssemibold_italic';
    src: url('../fonts/poppins-semibolditalic-webfont.eot');
    src: url('../fonts/poppins-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins-semibolditalic-webfont.woff2') format('woff2'),
         url('../fonts/poppins-semibolditalic-webfont.woff') format('woff'),
         url('../fonts/poppins-semibolditalic-webfont.ttf') format('truetype'),
         url('../fonts/poppins-semibolditalic-webfont.svg#poppinssemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinsthin';
    src: url('../fonts/poppins-thin-webfont.eot');
    src: url('../fonts/poppins-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins-thin-webfont.woff2') format('woff2'),
         url('../fonts/poppins-thin-webfont.woff') format('woff'),
         url('../fonts/poppins-thin-webfont.ttf') format('truetype'),
         url('../fonts/poppins-thin-webfont.svg#poppinsthin') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinsthin_italic';
    src: url('../fonts/poppins-thinitalic-webfont.eot');
    src: url('../fonts/poppins-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins-thinitalic-webfont.woff2') format('woff2'),
         url('../fonts/poppins-thinitalic-webfont.woff') format('woff'),
         url('../fonts/poppins-thinitalic-webfont.ttf') format('truetype'),
         url('../fonts/poppins-thinitalic-webfont.svg#poppinsthin_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on December 3, 2020 */



@font-face {
    font-family: 'poppinsblack';
    src: url('../fonts/poppins-black-webfont.eot');
    src: url('../fonts/poppins-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins-black-webfont.woff2') format('woff2'),
         url('../fonts/poppins-black-webfont.woff') format('woff'),
         url('../fonts/poppins-black-webfont.ttf') format('truetype'),
         url('../fonts/poppins-black-webfont.svg#poppinsblack') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinsblack_italic';
    src: url('../fonts/poppins-blackitalic-webfont.eot');
    src: url('../fonts/poppins-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/poppins-blackitalic-webfont.woff') format('woff'),
         url('../fonts/poppins-blackitalic-webfont.ttf') format('truetype'),
         url('../fonts/poppins-blackitalic-webfont.svg#poppinsblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinsbold';
    src: url('../fonts/poppins-bold-webfont.eot');
    src: url('../fonts/poppins-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins-bold-webfont.woff2') format('woff2'),
         url('../fonts/poppins-bold-webfont.woff') format('woff'),
         url('../fonts/poppins-bold-webfont.ttf') format('truetype'),
         url('../fonts/poppins-bold-webfont.svg#poppinsbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinsbold_italic';
    src: url('../fonts/poppins-bolditalic-webfont.eot');
    src: url('../fonts/poppins-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/poppins-bolditalic-webfont.woff') format('woff'),
         url('../fonts/poppins-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/poppins-bolditalic-webfont.svg#poppinsbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinsextrabold';
    src: url('../fonts/poppins-extrabold-webfont.eot');
    src: url('../fonts/poppins-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/poppins-extrabold-webfont.woff') format('woff'),
         url('../fonts/poppins-extrabold-webfont.ttf') format('truetype'),
         url('../fonts/poppins-extrabold-webfont.svg#poppinsextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinsextrabold_italic';
    src: url('../fonts/poppins-extrabolditalic-webfont.eot');
    src: url('../fonts/poppins-extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins-extrabolditalic-webfont.woff2') format('woff2'),
         url('../fonts/poppins-extrabolditalic-webfont.woff') format('woff'),
         url('../fonts/poppins-extrabolditalic-webfont.ttf') format('truetype'),
         url('../fonts/poppins-extrabolditalic-webfont.svg#poppinsextrabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinsextralight';
    src: url('../fonts/poppins-extralight-webfont.eot');
    src: url('../fonts/poppins-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins-extralight-webfont.woff2') format('woff2'),
         url('../fonts/poppins-extralight-webfont.woff') format('woff'),
         url('../fonts/poppins-extralight-webfont.ttf') format('truetype'),
         url('../fonts/poppins-extralight-webfont.svg#poppinsextralight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinsextralight_italic';
    src: url('../fonts/poppins-extralightitalic-webfont.eot');
    src: url('../fonts/poppins-extralightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins-extralightitalic-webfont.woff2') format('woff2'),
         url('../fonts/poppins-extralightitalic-webfont.woff') format('woff'),
         url('../fonts/poppins-extralightitalic-webfont.ttf') format('truetype'),
         url('../fonts/poppins-extralightitalic-webfont.svg#poppinsextralight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinsitalic';
    src: url('../fonts/poppins-italic-webfont.eot');
    src: url('../fonts/poppins-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins-italic-webfont.woff2') format('woff2'),
         url('../fonts/poppins-italic-webfont.woff') format('woff'),
         url('../fonts/poppins-italic-webfont.ttf') format('truetype'),
         url('../fonts/poppins-italic-webfont.svg#poppinsitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinslight';
    src: url('../fonts/poppins-light-webfont.eot');
    src: url('../fonts/poppins-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins-light-webfont.woff2') format('woff2'),
         url('../fonts/poppins-light-webfont.woff') format('woff'),
         url('../fonts/poppins-light-webfont.ttf') format('truetype'),
         url('../fonts/poppins-light-webfont.svg#poppinslight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinslight_italic';
    src: url('../fonts/poppins-lightitalic-webfont.eot');
    src: url('../fonts/poppins-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/poppins-lightitalic-webfont.woff') format('woff'),
         url('../fonts/poppins-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/poppins-lightitalic-webfont.svg#poppinslight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinsmedium';
    src: url('../fonts/poppins-medium-webfont.eot');
    src: url('../fonts/poppins-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins-medium-webfont.woff2') format('woff2'),
         url('../fonts/poppins-medium-webfont.woff') format('woff'),
         url('../fonts/poppins-medium-webfont.ttf') format('truetype'),
         url('../fonts/poppins-medium-webfont.svg#poppinsmedium') format('svg');
    font-weight: normal;
    font-style: normal;
	
}

h1,h2,h3,h4,h5,h6,a,ul{font-family: 'poppinsregular';}

#services{ padding-top:90px; padding-bottom:90px;}
#services .services_block h4{ font-family: 'poppinsbold';color:#d21e2b; font-size:15px; text-align:center;}
#services .services_block h2{font-family: 'poppinsbold'; color:#000; text-align:center; font-size:28px; padding-bottom:0px;}
#services .services_block .section-heading-line {content: '';display: block;width: 100px;height: 3px;background: #d21e2b;border-radius: 25%;margin: auto;margin-top: 15px;margin-bottom: 70px;}
#services .pannel_block h3{font-family: 'poppinsmedium'; color:#000; text-align:center; font-size:19px; padding-bottom:20px;}
#services .pannel_block p{font-family: 'poppinslight'; color:#999; text-align:center; font-size:15px; font-weight:400;}
#services .pannel_block .panel {border-radius:5px;transition: box-shadow 0.5s;box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.16);border: 1px solid #ececec;padding: 30px 40px 35px 40px;}
#services .pannel_block .panel:hover {box-shadow: 5px 0px 40px rgba(0,0,0, .2);border: 1px solid #ececec;}
#services .pannel_block .fa-bullseye{ font-size:65px; color:#d21e2b;}
#services .pannel_block .fa-diamond{color:#d21e2b; font-size:65px;}
#services .pannel_block .fa-university{color:#d21e2b; font-size:65px;}




#about .about_block{ padding-top:90px; padding-bottom:90px;}
#about .about_block{ background-image:url(D:\project - main\foodapp-core-ramesh\images\about.jpg);background-size: cover;background-repeat: no-repeat;background-position: 50% 50%;padding: 90px 0px 90px 0px;}
#about .about_block .button a{ text-decoration:none; color:#FFF;}
#about .about_block .button{background-color:#d21e2b;border: none;color:#FFF;padding: 13px 25px;text-align: center;text-decoration: none;display: inline-block; margin-top:25px; margin-bottom:13px; margin-right:20px;cursor: pointer;border-radius: 30px;transition-duration: 0.4s;cursor: pointer;}
#about .about_block .button:hover{background-color:#000;color:#FFF;}
#about .about_block h4{font-family: 'poppinsmedium';color:#d21e2b; font-size:14px; text-align:left;}
#about .about_block h2{font-family: 'poppinsbold'; color:#000; text-align:left; font-size:28px; padding-bottom:20px;}
#about .about_block h3{font-family: 'poppinsbold'; color:#000; text-align:left; font-size:27px; line-height:160%;}
#about .about_block p{font-family: 'poppinslight'; color:#999; text-align:left; font-size:15px; font-weight:400; line-height:200%;}
#about .about_block ul{font-family: 'poppinsbold'; text-align:left; font-size:12px; line-height:30px; padding-left:0px; }
#about .about_block li{ list-style-type:none;}
#about .about_block .fa{ color:#d21e2b; font-size:12px; font-weight:bold;padding-right: 10px;}
#about .about_block .section-heading-line {content: '';display: block;width: 100px;height: 3px;background: #d21e2b;border-radius: 25%;
margin-bottom:20px;}

@media screen and (min-width: 320px)and (max-width: 720px){
	#about .about_block{ background-image:url(../images/bg10.jpg);background-size: cover;background-repeat: no-repeat;background-position: 63% 50%;padding: 90px 0px 90px 0px;}
	#about .about_block{ background-image:url(../images/bg10.jpg);background-size:auto;background-repeat: no-repeat;background-position: 74% 50%;padding: 90px 0px 90px 0px;}
#about .about_block{ padding-top:90px; padding-bottom:90px;}
#about .about_block .button:hover{background-color:#000;color:#FFF;}
#about .about_block h4{font-family: 'poppinsmedium';color:#d21e2b; font-size:14px; text-align:left;}
#about .about_block h2{font-family: 'poppinsbold'; color:#000; text-align:left; font-size:28px; padding-bottom:20px;}
#about .about_block h3{font-family: 'poppinsbold'; color:#000; text-align:left; font-size:27px; line-height:160%;}
#about .about_block p{font-family: 'poppinslight'; color:#999; text-align:left; font-size:15px; font-weight:400; line-height:200%; max-width:100%;}
#about .about_block ul{font-family: 'poppinsbold'; text-align:left; font-size:12px; line-height:30px; padding-left:0px; }
#about .about_block li{ list-style-type:none;}
#about .about_block .fa{ color:#d21e2b; font-size:12px; font-weight:bold;padding-right: 10px;}
#about .about_block .section-heading-line {content: '';display: block;width: 100px;height: 3px;background: #d21e2b;border-radius: 25%;
margin-bottom:20px;}
}

@media screen and (min-width: 768px)and (max-width: 1024px){
	#about .about_block{ background-image:url(../images/bg10.jpg);background-size:auto;background-repeat: no-repeat;background-position: 74% 50%;padding: 90px 0px 90px 0px;}
#about .about_block{ padding-top:90px; padding-bottom:90px;}

#about .about_block .button{background-color:#d21e2b;border: none;color:#FFF;padding: 13px 25px;text-align: center;text-decoration: none;display: inline-block; margin-top:25px; margin-bottom:13px; margin-right:20px;cursor: pointer;border-radius: 30px;transition-duration: 0.4s;cursor: pointer;}
#about .about_block .button:hover{background-color:#000;color:#FFF;}
#about .about_block h4{font-family: 'poppinsmedium';color:#d21e2b; font-size:14px; text-align:left;}
#about .about_block h2{font-family: 'poppinsbold'; color:#000; text-align:left; font-size:28px; padding-bottom:20px;}
#about .about_block h3{font-family: 'poppinsbold'; color:#000; text-align:left; font-size:27px; line-height:160%;}
#about .about_block p{font-family: 'poppinslight'; color:#999; text-align:left; font-size:15px; font-weight:400; line-height:200%; width:65%;}
#about .about_block ul{font-family: 'poppinsbold'; text-align:left; font-size:12px; line-height:30px; padding-left:0px; }
#about .about_block li{ list-style-type:none;}
#about .about_block .fa{ color:#d21e2b; font-size:12px; font-weight:bold;padding-right: 10px;}
#about .about_block .section-heading-line {content: '';display: block;width: 100px;height: 3px;background: #d21e2b;border-radius: 25%;
margin-bottom:20px;}
}



#footer .footer_block{ background-color:#000; padding-top:90px; padding-bottom:90px;}
#footer .footer_block .section-heading-line{content: '';display: block;width: 100px;height: 3px;background: #d21e2b;margin-bottom:20px;}
#footer .footer_block h2{font-family: 'poppinsbold'; color:#FFF; text-align:left; font-size:28px; padding-bottom:20px;}
#footer .footer_block .about_us p{font-family: 'poppinslight'; color:#FFF; text-align:left; font-size:15px; padding-bottom:20px; font-weight:400; line-height:23px; max-width:325px}
#footer .footer_block .about_us li{list-style-type:none;display:inline;cursor:pointer; text-decoration:none;}
#footer .footer_block .about_us li:hover{list-style-type:none;display:inline;cursor:pointer; text-decoration:none;}
#footer .footer_block .about_us ul{padding-left:0px;}
#footer .footer_block .about_us a{list-style-type:none;display:inline;font-size: 13px;color: #d21e2b;width: 35px;height: 35px;padding: 11px; background-color:#FFF; border-radius:19px; margin-right:10px;}
#footer .footer_block .about_us a:hover{list-style-type:none;display:inline;font-size: 13px;color:#FFF;width: 35px;height: 35px;padding: 11px; background-color:#d21e2b; border-radius:19px; margin-right:10px; cursor:pointer; text-decoration:none;}


#footer .footer_block .about_us .image_block img{ max-width:275px; width:100%; padding-bottom:30px; height:auto;}
#footer .footer_block .about_us .image_block a{ padding:0px;}
#footer .footer_block .quick_links li{ list-style-type:none;}
#footer .footer_block .quick_links ul{ padding:0px; line-height:40px;}
#footer .footer_block .quick_links i{ font-size:15px; padding-bottom:20px; font-weight:400; line-height:23px; text-decoration:none; padding-right:10px; 
color:#FFF;}
#footer .footer_block .quick_links i:hover{ font-size:15px; padding-bottom:20px; font-weight:400; line-height:23px; text-decoration:none; padding-right:10px; color:#FFF;}
#footer .footer_block .quick_links a{font-family: 'poppinslight'; color:#FFF; text-align:left; font-size:15px; padding-bottom:20px; font-weight:400; line-height:23px; max-width:325px; text-decoration:none; color:#FFF;}
#footer .footer_block .quick_links a:hover{font-family: 'poppinslight'; color:#06F; text-align:left; font-size:15px; padding-bottom:20px; font-weight:400; line-height:23px; max-width:325px; text-decoration:none; color:#d21e2b;}
#footer .footer_block .contacts p{font-family: 'poppinslight'; color:#FFF; text-align:left; font-size:15px; font-weight:400;}
#footer .footer_block .contacts h4{font-family: 'poppinslight'; color:#FFF; text-align:left; font-size:15px; font-weight:400; padding-bottom:20px;}
#footer .footer_block .contacts a{font-family: 'poppinslight'; color:#999; text-align:left; font-size:15px; font-weight:400; text-decoration:none;}
#footer .footer_block .contacts a:hover{font-family: 'poppinslight'; color:#06F; text-align:left; font-size:15px; font-weight:400; text-decoration:none;}
#footer .footer_block .contacts .fa{color: #d21e2b; padding-right:10px;}




#home .main_menu img{ width:100%; max-width:250px; padding:10px 0px;}
 .navbar {
    margin-bottom: 0;
    background-color:#FFF;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 0.428571 !important;
    letter-spacing:normal;
    border-radius: 0;
	font-family: 'poppinsbold';
	box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.15);
  }
  .main_menu .navbar li{ padding-top:10px;}
 .main_menu .navbar li a, .navbar .navbar-brand {
    color: #2a2a2a !important;
	font-family: 'poppinsmedium';
	font-size:14px;
  }
  #myPage .main_menu .navbar{ background-color:#FFF; border-color:#999;}
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #d21e2b !important;
    background-color:#FFF !important;
  }
 .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }
  

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index:100;
}

@media screen and (min-width: 768px)and (max-width: 1020px){
	#home .main_menu img {width: 100%;max-width: 200px;}
}



#home .header{display: block;position: relative;z-index: 999;background: #2a2a2a;height: 45px;}
#home .header .right_header li{ list-style-type:none; display:inline-block; color:#FFF;font-size: 13px;font-weight: 500;margin: 0px;padding-top: 2px; margin-right: 0px; padding-right:20px; padding-top:5px;}
#home .header .left_header li{ list-style-type:none; display:inline-block; color:#FFF;font-size: 13px;font-weight: 500;margin: 0px;padding-top: 2px; margin-right: 5px; padding-right:20px; padding-top:13px;}
#home .header .left_header i{font-size: 13px;color: #d21e2b;margin-right: 8px;}
#home .header .right_header i{font-size: 15px;color:#FFF; padding-top:10px;}
#home .header .right_header i:hover{font-size: 15px;color:#d21e2b; padding-top:10px; cursor:pointer;}
#home .header ul{ padding:0px;}
#home .header .left_header a{ color:#FFF; text-decoration:none;}
#home .header .left_header a:hover{ color:#FFF; text-decoration:none;}


#carousel-example-generic img{height: 600px;max-height: 100%;width: 100%;max-width: 100%;object-fit: cover;}
 @media screen and (min-width: 320px)and (max-width: 720px){
	 #carousel-example-generic img{height: 350px;max-height: 100%;width: 100%;max-width: 100%;object-fit: cover;}
	 }
 @media screen and (min-width: 768px)and (max-width: 1024px){
	 #carousel-example-generic img{height: 450px;max-height: 100%;width: 100%;max-width: 100%;object-fit: cover;}
	 }
@media screen and (min-width: 0px)and (max-width: 300px){
	 #carousel-example-generic img{height: 220px;max-height: 100%;width: 100%;max-width: 100%;object-fit: cover;}
	 }
	 
	
#banner .banner_section .container-fluid{ padding:0px;} 
#banner .banner_section .carousel-caption{ top:120px;}
#banner .banner_section .carousel-caption h2{font-family: 'poppinsbold'; color:#FFF; text-align:left; font-size:50px; padding-bottom:20px; width:700px;}
#banner .banner_section .carousel-caption p{font-family: 'poppinslight'; color:FFF; text-align:left; font-size:15px; font-weight:500; width:550px; }
#banner .banner_section .carousel-caption .button{background-color:#000;border: none;color:#FFF;padding: 13px 25px;text-align: center;text-decoration: none;display: block; margin-top:25px; margin-bottom:13px; margin-right:20px;cursor: pointer;border-radius: 30px;transition-duration: 0.4s;cursor: pointer;}
#banner .banner_section .carousel-caption .button:hover{background-color:#d21e2b;color:#FFF;}
#banner .banner_section .carousel-caption  a { text-decoration:none; color:#FFF;}


@media screen and (min-width: 320px)and (max-width: 720px){
#banner .banner_section .carousel-caption{ top:30px;}
#banner .banner_section .carousel-caption h2{font-family: 'poppinsbold'; color:#FFF; text-align:left; font-size:20px; padding-bottom:5px; max-width:100%;}
#banner .banner_section .carousel-caption p{font-family: 'poppinslight'; color:#FFF; text-align:left; font-size:12px; font-weight:500; max-width:100%; }
#banner .banner_section .carousel-caption .button{background-color:#000;border: none;color:#FFF;padding: 6px 13px;text-align: center;text-decoration: none;display: block; margin-top:25px; margin-bottom:13px; margin-right:20px;cursor: pointer;border-radius: 30px;transition-duration: 0.4s;cursor: pointer;}
#banner .banner_section .carousel-caption .button:hover{background-color:#d21e2b;color:#FFF;}
}

@media screen and (min-width: 768px)and (max-width: 1024px){
	#banner .banner_section .carousel-caption{ top:50px;}
#banner .banner_section .carousel-caption h2{font-family: 'poppinsbold'; color:#FFF; text-align:left; font-size:50px; padding-bottom:20px; max-width:100%;}
#banner .banner_section .carousel-caption p{font-family: 'poppinslight'; color:FFF); text-align:left; font-size:15px; font-weight:500; max-width:100%; }
#banner .banner_section .carousel-caption .button{background-color:#000;border: none;color:#FFF;padding: 5px 11px;text-align: center;text-decoration: none;display: block; margin-top:25px; margin-bottom:13px; margin-right:20px;cursor: pointer;border-radius: 30px;transition-duration: 0.4s;cursor: pointer;}
#banner .banner_section .carousel-caption .button:hover{background-color:#d21e2b;color:#FFF;}
}



#contact_block{ padding-top:40px; padding-bottom:40px;}
#contact_block{margin-bottom: 40px; background:url(../image/contact_img_right.png) no-repeat 93% 10%;}
#contact_block .contact_top{margin-bottom: 50px;display: inline-block;width: 100%;}
#contact_block .contact_top .contact_heading{width: 40%;float: left;}
#contact_block .contact_top .contact_heading h3{font-size: 20px;color: #d21e2b; font-family:'poppinsmedium';font-weight: normal;margin-bottom: 20px;}
#contact_block .contact_top .contact_heading h1{font-size: 44px;color: #222222;font-family: 'poppinsbold';font-weight: normal;}
#contact_block .contact_top .contact_content{float: left;width: 60%;padding: 61px 0px 15px 80px;}
#contact_block .contact_top .contact_content p{font-size: 16px;color: #747474; font-family:'poppinsregular';font-weight: normal;margin-bottom: 0px;
padding-left: 100px;}


#contact_block .contact_main{width: 100%;}
#contact_block .contact_main .contact_form{padding:0;}
#contact_block .contact_main .contact_image{}
#contact_block .contact_main .contact_image img{width: 100%;}
#contact_block .contact_main .contact_form h4{font-size: 24px;color: #333333;font-family: 'poppinsbold';font-weight: normal;margin-bottom: 30px;}
#contact_block .contact_main .contact_form .contact_form_blk{width: 50%;display: inline-block;float: left;margin-bottom: 25px;}
#contact_block .contact_main .contact_form form{}
#contact_block .contact_main .contact_form .contact_form_blk label{font-size: 16px;color: #747474;font-family: 'poppinsregular';font-weight: normal;width: 100%;}
#contact_block .contact_main .contact_form .contact_form_blk input{font-size: 13px;color: #aaaaaa;font-family: 'poppinsregular';font-weight: normal;
border: 1px solid #aaa;border-radius: 20px;height: 44px;padding: 0px 18px;width: 90%;}


#contact_block .contact_main .contact_form textarea{width: 95%;color: #aaaaaa;font-family: 'poppinsregular';font-weight: normal;
border: 1px solid #aaa;border-radius: 20px;padding: 10px 20px; font-size:13px;}

#contact_block .contact_main .contact_form .btn_submit{border: 0px;color: red; background-color:red; color:red; padding: 10px 26px 12px 30px;border-radius: 20px;
box-shadow: 0px 0px 6px 4px #e8e8e8;margin-top: 30px;background:url('../image/contact_icon.png') no-repeat 138px 15px, }

#contact_block .contact_main .contact_form .btn_submit:hover{cursor:pointer;box-shadow:0px 0px 5px 2px #b4b4b4; background-color:#000; color:#FFf;}


@media screen and (min-width: 320px)and (max-width: 720px){
	#contact_block{ padding-top:40px; padding-bottom:40px; padding-left:10px;}
#contact_block{margin-bottom: 40px; background:url(../image/contact_img_right.png) no-repeat 93% 10%;}
#contact_block .contact_top{margin-bottom: 50px;display: inline-block;width: 100%;margin-bottom: 0px;}
#contact_block .contact_top .contact_heading{width: 40%;float: left;}
#contact_block .contact_top .contact_heading h3{font-size: 20px;color: #d21e2b; font-family:'poppinsmedium';font-weight: normal;margin-bottom: 20px;}
#contact_block .contact_top .contact_heading h1{font-size: 19px;color: #222222;font-family: 'poppinsextrabold';font-weight: normal;}
#contact_block .contact_top .contact_content{float: left;width: 60%;padding: 60px 0px 15px 40px;}
#contact_block .contact_top .contact_content p{font-size: 12px;color: #747474; font-family:'poppinsregular';font-weight: normal;margin-bottom: 0px;
padding-left: 20px;}


#contact_block .contact_main{width: 100%;}
#contact_block .contact_main .contact_form{padding:0;}
#contact_block .contact_main .contact_image{}
#contact_block .contact_main .contact_image img{width: 100%;}
#contact_block .contact_main .contact_form h4{font-size: 15px;color: #333333;font-family: 'poppinsbold';font-weight: normal;margin-bottom: 30px;}
#contact_block .contact_main .contact_form .contact_form_blk{width: 50%;display: contents;float: left;margin-bottom: 25px;}
#contact_block .contact_main .contact_form form{}
#contact_block .contact_main .contact_form .contact_form_blk label{font-size: 14px;color: #747474;font-family: 'poppinsregular';font-weight: normal;width: 100%; padding-left:10px;}
#contact_block .contact_main .contact_form .contact_form_blk input{font-size: 13px;color: #aaaaaa;font-family: 'poppinsregular';font-weight: normal;
border: 1px solid #aaa;border-radius: 20px;height: 44px;padding: 0px 18px;width: 90%;}

.help-block {display: block;margin-top: 5px;margin-bottom: 10px;color: #737373;}
#contact_block .contact_main .contact_form textarea{width: 95%;color: #aaaaaa;font-family: 'poppinsregular';font-weight: normal;
border: 1px solid #aaa;border-radius: 20px;padding: 10px 20px; font-size:13px;}

#contact_block .contact_main .contact_form .btn_submit{border: 0px;color: #fff;background-color:#d21e2b; color:#FFF;padding: 8px 10px 8px 10px;border-radius: 20px;box-shadow: 0px 0px 6px 4px #e8e8e8;margin-top: 30px;background:url('../image/contact_icon.png') no-repeat 138px 15px, }

#contact_block .contact_main .contact_form .btn_submit:hover{cursor:pointer;box-shadow:0px 0px 5px 2px #b4b4b4;background-color:#000; color:#FFF;}
label {display: inline-block;max-width: 100%;margin-bottom: 5px;font-weight: 700;padding-top: 10px;padding-left: 10px;}
}







@media screen and (min-width: 768px)and (max-width: 1024px){
	#contact_block{ padding: 40px 15px; }
#contact_block{margin-bottom: 40px; background:url(../image/contact_img_right.png) no-repeat 93% 10%;}
#contact_block .contact_top{margin-bottom: 50px;display: inline-block;width: 100%;}
#contact_block .contact_top .contact_heading{width: 40%;float: left;}
#contact_block .contact_top .contact_heading h3{font-size: 20px;color: #d21e2b; font-family:'poppinsmedium';font-weight: normal;margin-bottom: 20px;}
#contact_block .contact_top .contact_heading h1{font-size: 44px;color: #222222;font-family: 'poppinsbold';font-weight: normal;}
#contact_block .contact_top .contact_content{float: left;width: 60%;padding: 61px 0px 15px 80px;}
#contact_block .contact_top .contact_content p{font-size: 16px;color: #747474; font-family:"popinsregular";font-weight: normal;margin-bottom: 0px;
padding-left: 20px;}


#contact_block .contact_main{width: 100%;}
#contact_block .contact_main .contact_form{padding:0;}
#contact_block .contact_main .contact_image{}
#contact_block .contact_main .contact_image img{width: 100%;}
#contact_block .contact_main .contact_form h4{font-size: 24px;color: #333333;font-family: 'poppinsregular';font-weight: normal;margin-bottom: 30px;}
#contact_block .contact_main .contact_form .contact_form_blk{width: 50%;display: inline-block;float: left;margin-bottom: 25px;}
#contact_block .contact_main .contact_form form{}
#contact_block .contact_main .contact_form .contact_form_blk label{font-size: 16px;color: #747474;font-family: 'poppinsregular';font-weight: normal;width: 100%; padding-left:10px;}
#contact_block .contact_main .contact_form .contact_form_blk input{font-size: 13px;color: #aaaaaa;font-family: 'poppinsregular';font-weight: normal;
border: 1px solid #aaa;border-radius: 20px;height: 44px;padding: 0px 18px;width: 90%;}


#contact_block .contact_main .contact_form textarea{width: 95%;color: #aaaaaa;font-family: 'poppinsregular';font-weight: normal;
border: 1px solid #aaa;border-radius: 20px;padding: 10px 20px; font-size:13px;}

#contact_block .contact_main .contact_form .btn_submit{border: 0px;color: #fff; background-color:#d21e2b; color:#FFF;padding: 10px 26px 12px 30px;border-radius: 20px;box-shadow: 0px 0px 6px 4px #e8e8e8;margin-top: 30px;background:url('../image/contact_icon.png') no-repeat 138px 15px, }

#contact_block .contact_main .contact_form .btn_submit:hover{cursor:pointer;box-shadow:0px 0px 5px 2px #b4b4b4;background-color:#000; color:#FFF;}
}




#scroll {
    position:fixed;
    right:30px;
    bottom:30px;
    cursor:pointer;
    width:50px;
    height:50px; background-color:#d21e2b;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:55%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0; text-indent:0;
}
#scroll:hover {
    background-color:#e74c3c;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}

#scroll span i{ color:#FFF; font-size:15px;}


#login .login_section{text-align: center; position: relative; background-image: url('cab.jpg');background-repeat: no-repeat;background-attachment: fixed; background-size: 100% 100%;}
.email_section{padding-left: 24px; padding-right: 10px;}
label{ padding: 20px;}
.box{border: solid; background-color: #00ffff; margin: 20px;}
.button_section{margin-bottom: 20px;}

#booking .booking_section label{ padding: 20px; text-align: center;}
#booking .booking_section h1{ text-align: center;}
#booking .booking_section button{ text-align: center; padding: 10px; margin-bottom: 20px; margin-left: 200px;}
#booking .booking_section .gst{border: solid; border-color: #000; background-color: #00ffff;}

#cabType .cabType_section .micro img{ width: 100%;}
#cabType .cabType_section .mini img{ width: 100%;}
#cabType .cabType_section .prime img{ width: 100%;}

.print_section{margin: 30px; padding: 20px; text-align: center; border: solid; border-color: #000; background-color: #00ffff}
.gst .label{padding: 20px;}